<p><strong>Navitia SDK</strong> (<em>pronounce [navi-sia]</em>) is a SDK for <strong>Android</strong> and <strong>iOS</strong> developers built upon <a href="http://doc.navitia.io/">Navitia</a></p>
<p>
    This SDK is a group of dependencies that can be integrated directly into your applications. 
    Dependencies can either provide a coupled interface of a user experience, or provide a set of relevant data.
</p>

<hr>

<h2>UI</h2>
<div class="button-home">
    <a href="/navitia_sdk_docs/aroundme"><img src="/navitia_sdk_docs/assets/img/aroundme.svg" alt="Around Me"></a>
</div>
<!-- <div class="button-home">
    <a href="/navitia_sdk_docs/journey"><img src="/navitia_sdk_docs/assets/img/journey.svg" alt="Journey"></a>
</div>
<div class="button-home">
    <a href="/navitia_sdk_docs/schedule"><img src="/navitia_sdk_docs/assets/img/schedule.svg" alt="Schedule"></a>
</div> -->

<h2>Data</h2>
<div class="button-home">
    <a href="/navitia_sdk_docs/expert"><img src="/navitia_sdk_docs/assets/img/expert.svg" alt="Expert"></a>
</div>
